* {
    font-family: "Texturina";
    transition: 0.1s;
}

html {
    scroll-behavior: smooth;
}

body {
    transition: 0.1s;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem 4rem;
    z-index: 10;
    background: white;
    border-bottom: 2px solid #eee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
    transition: 0.1s;
}

header h1 {
    font-size: 3rem;
    line-height: 3rem;
    transition: 0.1s;
    cursor: pointer;
}

header img {
    width: 4rem;
    padding: 0.5vw;
    transition: 0.1s;
}

header div>div {
    padding: 0.5vw;
    transition: 0.1s;
}

.menu-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    justify-content: center;
    background: none;
    transition: 0.5s;
    transition: 0.1s;
}

.menu-button:hover {
    background: #f2f2f2;
    transition: 0.1s;
}

.menu-button img {
    width: 3rem;
    padding: 0.4rem;
    transition: 0.1s;
}

#cart-counter {
    top: 0.27rem;
    padding-left: 0.08rem;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: #f54642;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    transition: 0.5s;
    border: 1px solid transparent;
    transition: 0.1s;
}

#cart-button:hover #cart-counter {
    color: #f54642;
    background: white;
    border: 1px solid #f54642;
    transition: 0.1s;
}

.menu-button-anim {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    width: 50%;
    height: 3px;
    transition: 0.1s;
}

#header-menu-button .menu-button-anim {
    background-color: black;
    transition: 0.1s;
}

.section3 .title-container h1 {
    color: white;
    transition: 0.1s;
}

.title-container {
    margin: 6rem 0 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.1s;
}

.title-container:after {
    content: "  •  ";
    font-size: 4rem;
    color: #666;
    z-index: 1;
    transition: 0.1s;
}

.title-container h1 {
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
    z-index: 1;
    transition: 0.1s;
}

h1 {
    font-size: 8rem;
    transition: 0.1s;
}

.footer-text {
    margin-top: 10rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.1s;
}

.footer-text h2 {
    padding: 3rem 5rem;
    font-size: 2rem;
    z-index: 5;
    color: white;
    transition: 0.1s;
}

h3 a {
    color: #bbb;
    transition: 0.1s;
}

.footer-text h3 {
    padding: 0.5rem 5rem;
    font-size: 1.2rem;
    z-index: 5;
    color: #888;
    transition: 0.1s;
}

footer {
    width: 100%;
    height: 30rem;
    transition: 0.1s;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.category button {
    padding: 0.5rem 4rem;
    font-size: 1rem;
    border-radius: 2rem;
    font-weight: bolder;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: 0.5s;
    transition: 0.1s;
}

.category button:hover {
    padding: 0.5rem 6rem;
    transition: 0.1s;
}

.section1 .category button {
    background: #f54642;
    color: white;
    transition: 0.1s;
}

.section2 .category button {
    background: white;
    color: #f54642;
    transition: 0.1s;
}

.section3 .category button {
    background: white;
    color: #6236c5;
    transition: 0.1s;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    transition: 0.5s;
}